@import "./variables";
.icons {
  color: $dark-grey;
  &:hover {
    color: black;
  }
  cursor: pointer;
}
.arrow-up {
  @include colorWhite(0.4);
  &:hover {
    color: white;
  }
}
.viewReplies {
  font-size: 0.7em;
  color: rgba(104, 101, 101, 1);
  margin-top: 0rem;
  margin-bottom: 0.2rem;
  margin-left: 77.5%;
  &:hover {
    @include colorWhite(0.8);
  }
}
.closeReplies {
  font-size: 0.7rem;
  color: rgba(104, 101, 101, 1);
  margin-top: -0.5rem;
  margin-left: auto;
  margin-right: 0.8rem;
  &:hover {
    color: rgb(10, 10, 10);
  }
}
.light-bulb {
  margin: 0rem 0.5em;
  cursor: pointer;
  .dm-off {
    color: $orange;
  }
  .dm-on {
    @include colorWhite(0.5);
  }
}
