@media screen and (max-width: 620px) {
  body {
    overflow-y: visible;
  }
  .chatWindowContainer {
    // padding-top: 17rem;
    width: 26rem;
    // overflow: hidden;
    .nav-bar {
      .greeting {
        span {
        }
      }
      .menu-btn {
      }
      .log-out-section {
        .close-btn {
          &:hover {
          }
        }

        button {
          &:hover {
          }
        }
      }
    }
  }
  .commentAndReply {
    // width: 100%;
  }
  .comment-like-bar {
  }

  .comment {
    .icon-like {
    }
    .text {
      // max-width: 10rem;
    }
  }
  .ReplyWindow {
    margin-left: 10px;
    .viewReplies {
      margin-left: 67%;
    }
    .viewReplies:hover {
    }
  }

  .responseBox {
    .comment-header-image {
      width: 2.5rem;
      height: 2.5rem;
    }
    .textAreaBox,
    textarea {
      // width: fit-content;
    }
  }
  .addTextArea {
    margin-top: 0.4rem;
    // margin: 0rem 0.1em;
    // width: 90%;
  }
}
.requestStatus-chatPage {
  width: 30%;
}
.addTextArea {
  .comment-header-image {
    // outline: 2px solid rgb(185, 10, 10);
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
  }
}
