.loginPageSpinner {
  position: absolute;
  top: 13rem;
  // bottom: 0rem;
  right: 10rem;
  left: 10rem;
}
.chatPageSpinner {
  outline: 2px solid black;
  position: absolute;
  top: 20rem;
  right: 15rem;
}
