.requestStatus,
.requestStatus-chatPage {
  align-self: center;
  background: $dark-blue;
  border-radius: 0.3rem;
  color: $color3;
  padding: 0.3rem 1rem;
  margin: 0rem auto;
  // width: 50%;
  position: absolute;
  top: 0.3rem;
  animation-name: example;
  animation-duration: 0.2s;

  h3 {
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 0.05rem;
    font-family: $fam5;
    font-weight: 300;
  }
}
@keyframes example {
  from {
    top: -2rem;
  }
  to {
    top: 0rem;
  }
}
.requestStatus-chatPage {
  left: 0;
  right: 0;
  position: fixed;
  background: $dark-blue;
  width: 18%;
  padding: 0.5rem;
  top: 0rem;
  margin-left: auto;
  margin-right: auto;
}
// @media screen and (max-width: 620px) {
//   .requestStatus,
//   .requestStatus-chatPage {
//     h3 {
//       font-size: 0.8rem;
//     }
//   }
// }
