@import "./variables";
@import "./mixin";

.comment-send:disabled {
  outline: none;
  padding: 0rem 1rem;
  background: gray;
  color: $grey;
  opacity: 0.8;

  &:hover {
    color: $grey;
    font-size: 0.7rem;
    cursor: default;
  }
}
.comment-send {
  outline: 1px solid black;
  font-size: 0.7rem;
  height: 2rem;
  padding: 0rem 1rem;
  background: $dark-blue;
  color: $grey;
  border-radius: 1rem;
  transition: font-size 0.2s;
  &:hover {
    font-size: 0.8rem;
    color: $orange;
    cursor: pointer;
  }
}
.delete-btn:hover {
  color: $dark-grey;
}
