.requestStatus,
.requestStatus-chatPage {
  align-self: center;
  background: $dark-blue;
  border-radius: 0.3rem;
  color: $color3;
  padding: 0.3rem 0.3rem;
  margin: 0rem 4rem;
  width: 60%;
  position: absolute;
  top: 0.3rem;
  // margin-left: auto;
  // margin-right: auto;
  h3 {
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 0.05rem;
    font-family: $fam5;
    font-weight: 300;
  }
}
@keyframes example {
  from {
    top: -2rem;
  }
  to {
    top: 0rem;
  }
}
.requestStatus-chatPage {
  position: absolute;
  background: $dark-blue;
  width: 20%;
  padding: 0.5rem;
  top: 0rem;
  animation-name: example;
  animation-duration: 0.2s;
  margin-left: auto;
  margin-right: auto;
}
