@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;300;400&family=Open+Sans:wght@300;400&family=Roboto+Condensed:wght@300&family=Rubik:wght@300;400;500&display=swap");

$color1: rgb(55, 79, 96);
$grey: rgb(198, 193, 193);
$light-grey: rgba(229, 226, 226, 0.2);
$dark-grey: rgb(65, 63, 63);
$color3: rgb(239, 242, 242);
$dark-blue: rgba(20, 34, 48);
// $dark-blue: rgba(20, 34, 48);
$orange: rgba(255, 165, 0, 1);
$yellow: #eab010;

$fam1: "Dancing Script", cursive;
$fam2: "Roboto Condensed", sans-serif;
$fam3: "Rubik", sans-serif;
$fam4: "Open Sans", sans-serif;
$fam5: "Montserrat", sans-serif;
