* {
  box-sizing: border-box;
  background: none;
  border: none;
}
body {
  margin: 0;
  background: rgb(221, 134, 134);
}
/* form {
  display: flex;
  flex-direction: column;
} */
.form-login {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  background: white;
  gap: 2rem;
  padding: 3rem;
}
.input {
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 2rem;
}
input {
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  outline: 2px solid rgb(112, 110, 110);
}
#root {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.container {
  outline: 2px solid black;
  max-width: 1440px;
  margin: 8rem auto;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 3rem;
  gap: 1rem;
}
.login-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#sign-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
#app-text {
  font-size: 2rem;
}
.login,
.logout,
.Signup {
  outline: 2px solid rgb(123, 121, 121);
  width: fit-content;
  align-self: center;
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  background: white;
}
.btn-sign-up {
  color: yellow;
}
.warning {
  margin-top: 0.5rem;
  color: red;
}
label {
  margin-bottom: 0.5rem;
}
