* {
  box-sizing: border-box;
  background: none;
  border: none;
}

.errorPage {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  color: rgb(7, 5, 5);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 5px 5px;
}
.error-msg {
  font-size: 20px;
  color: rgb(65, 62, 62);
}
.back-btn {
  outline: none;
  width: fit-content;
  align-self: center;
  padding: 0.4rem 0.8rem;
  color: white;
  background: rgb(42, 40, 40);
}
.back-btn:hover {
  background: rgb(95, 93, 93);
}
