@import "./variables";
@import "./mixin";
@import "./homepage";
@import "./loginpage";
@import "./requestStatus";
@import "./modals";
@import "./errorPage";
@import "./icons.scss"; // body {
@import "./requestBtns"; // body {
@import "./chatWindow"; // body {
@import "./commentHeader"; // body {
@import "./textBox";
@import "./mediaqueries";
@import "./smallLogo";
@import "./darkmode";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
}
button {
  background: none;
  border: none;
}
